@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?wt514q');
  src: url('fonts/icomoon.eot?wt514q#iefix') format('embedded-opentype'),
       url('fonts/icomoon.ttf?wt514q') format('truetype'),
       url('fonts/icomoon.woff?wt514q') format('woff'),
       url('fonts/icomoon.svg?wt514q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon';
  font-size: 30px;
  // Better Font Rendering
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-letter::before {
  content: '\e90c';
}

.icon-inverse-letter::before {
  content: '\e90e';
}

.icon-bike::before {
  content: '\e904';
}

.icon-papers::before {
  content: '\e905';
}

.icon-inverse-papers::before {
  content: '\e90d';
}

.icon-stacked-layout::before {
  content: '\e900';
}

.icon-trio-layout::before {
  content: '\e901';
}

.icon-four-layout::before {
  content: '\e902';
}

.icon-double-layout::before {
  content: '\e903';
}

.icon-inverse-trio::before {
  content: '\e906';
}

.icon-inverse-four::before {
  content: '\e907';
}

.icon-inverse-double::before {
  content: '\e90a';
}

.icon-inverse-stacked::before {
  content: '\e90b';
}

.icon-three-layout::before {
  content: '\e908';
}

.icon-inverse-three::before {
  content: '\e909';
}
