.layout-a {
  flex: 1;
  padding: 0 20px 0 0;

  &:first-of-type {
    flex: 100%;
  }

  @media (max-width: 768px) {
    flex: 100%;
  }
}

.layout-b {
  .news-image {
    max-height: 350px;
    overflow: hidden;
    width: 95%;
  }
}

.layout-c {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  .news-image {
    margin-right: 20px;
  }

  .flex-text {
    flex: 2;
  }
}

.layout-d {
  flex: 1 45%;
  padding: 0 20px 0 0;

  @media (max-width: 768px) {
    flex: 100%;
  }
}

.layout-e {
  flex: 1;
  padding: 0 20px 0 0;

  @media (max-width: 768px) {
    flex: 100%;
  }
}

.news-front {
  margin: 10px 0 20px;

  h4 {
    font-size: 16px;
    margin: 0 0 10px;
  }

  p {
    font-size: 14px;
  }

  img {
    height: auto;
    margin: 0;
    width: 100%;
  }

  .news-image {
    margin-bottom: 10px;
  }
}

.itre-news {
  margin: 15px auto 0;

  h3 {
    width: 100%;
  }

  .flex {
    display: flex;
  }
}
