.news-front {
  margin: 10px 0 20px;

  h4 {
    font-size: 16px;
    margin: 0 0 10px;
  }

  p {
    font-size: 14px;
  }

  img {
    height: auto;
    margin: 0;
    width: 100%;
  }

  .news-image {
    margin-bottom: 10px;
		max-height: 400px;
		max-width: 600px;
  }

	.more {
		text-decoration: none;

	  img {
	    height: auto;
	    margin: 0;
	    width: 100%;
	  }

		&:hover {
			text-decoration: underline;
		}
	}
}

.itre-news {
  margin: 15px auto 0;

  h3 {
    width: 100%;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
  }

  .flex {
    display: flex;
		flex-flow: row wrap;
    max-width: 800px;
  }

	.flex-layout-e {
    max-width: 100%;
	}
}

.layout-a {
  flex: 1;
  padding: 0 20px 0 0;

  &:first-of-type {
    flex: 100%;

		.news-image,
		.news-text {
			max-width: 600px;
		}
  }

	.news-image,
	.news-text {
		max-width: 350px;
	}

  @media (max-width: 768px) {
    flex: 100%;
  }
}

.layout-b {
	width: 100%;

  .news-image {
    max-height: 350px;
		max-width: 550px;
    overflow: hidden;
    width: 95%;
  }
}

.layout-c .more {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  .news-image {
    margin-right: 20px;
		width: 150px;
  }

  .flex-text {
    flex: 2;
  }

	h6 {
		margin-top: 0;
	}

	img {
		margin: 0;
	}
}

.layout-d {
  flex: 1 45%;
  padding: 0 20px 0 0;

  @media (max-width: 768px) {
    flex: 100%;
  }
}

.layout-e {
  flex: 1;
  padding: 0 20px 0 0;

  @media (max-width: 768px) {
    flex: 100%;
  }
}
