.radio {
  display: inline-block;
  height: 70px;
  width: 50px;

  label {
    display: block;
    margin: 10px auto 0;
    text-align: center;

    img {
      height: 30px;
    }
  }

  input {
    display: block;
    margin: 10px auto 0;
    text-align: center;
  }
}

.layout {
  margin-bottom: 20px;
}
