article.layoutA {
  float:left;
  width:45%;
  margin: 0 2% 10px;
  overflow:hidden;
  .newsImage {
    width:230px;
    height: 170px;
    overflow: hidden;
  }
  &:first-of-type {
    width:95%;
    float:none;
    .newsImage {
      height:auto;
      width:100%;
    }
  }

}
article.layoutB {
  .newsImage {
    width:95%;
    height: auto;
    overflow: hidden;
  }
}
article.layoutC {
  width:100%;
  .newsImage {
    float: left;
    margin-right: 20px;
  }

}
article.layoutD {
  float:left;
  width:45%;
  margin: 0 2%;
  overflow: hidden;
  .newsImage {
    width:230px;
    height: 170px;
    overflow: hidden;
  }
  .floatD {
    float:left;
  }
}
article.newsFront {
  h4 {
    margin:0 0 10px;
    font-size:16px;
  }
  p {
    font-size:14px;
  }
  img {
    margin: 0;
  }
  .newsImage {
    margin-bottom: 10px;
  }
}
.itre_news {
  margin: 15px auto 0;
}
