.search-form {
  .input-group {
		margin-bottom: 15px;
    width: 100%;

    select {
      background-color: $white;
      border: 0;
      outline: 1px solid $gray-lighter;
      width: 100%;
    }

    .input-group-btn {
      border-radius: 0;
      width: 23%;
    }

    &.date-search {
      align-items: center;
      display: flex;

      @media (max-width: 1200px) {
        flex-flow: row wrap;
      }

      @media (max-width: 1200px) {
        flex-flow: none;
      }
    }
  }

  button {
    width: 100%;
  }
}

.date-search {
  width: 100%;

  input {
		font-size: 12px;
    padding: 0 0 0 10px;
    width: 100%;

    &::-webkit-inner-spin-button {
      display: none;
    }

    &::-webkit-datetime-edit {
      padding-right: 0;
    }
  }

	.dateSearch {
		width: 46%;

	  @media (max-width: 1200px) {
	    width: 46%;
	  }

	  @media (max-width: 768px) {
	    width: 100%;
	  }
	}

  .divider {
    padding: 20px 0 0;
    width: 8%;
    text-align: center;

    @media (max-width: 1200px) {
      width: 100%;
      padding: 15px 0 0;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px 0 0;
    }
  }
}
