 form.search-form {
  .divider {
    flex: 1;
    padding: 20px 10px 0;
    text-align: center;

    @media (max-width: 1200px) {
      flex: 100%;
      padding: 15px 0 0;
    }

    @media (max-width: 768px) {
      flex: 1;
      padding: 20px 0 0;
    }
  }

  .dateSearch{
    flex: 2;

    @media (max-width: 1200px) {
      flex: 100%;
    }

    @media (max-width: 1200px) {
      flex: 2;
    }

    input {
      width: 100%;
      &::-webkit-inner-spin-button {
        display: none;
      }
      &::-webkit-datetime-edit {
        padding-right:0;
      }
    }
  }

  .input-group {
    width:100%;
    select.form-control {
      width:100%;
      border: 0;
      outline: 1px solid #CCC;
      background-color: white;
      //-webkit-appearance: none;
      //-webkit-border-radius: 0;
      //border-radius:0;
    }
    span.input-group-btn {
      width: 23%;
      border-radius: 0;
    }

    &.date-search {
      align-items: center;
      display: flex;

      @media (max-width: 1200px) {
        flex-flow: row wrap;
      }

      @media (max-width: 1200px) {
        flex-flow: none;
      }

      input {
        padding: 0 0 0 10px;
      }
    }
  }

  button {
    width:100%;
  }
}
