@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?wt514q");
  src: url("fonts/icomoon.eot?wt514q#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?wt514q") format("truetype"), url("fonts/icomoon.woff?wt514q") format("woff"), url("fonts/icomoon.svg?wt514q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  color: #a6a6a6;
  font-family: 'icomoon';
  font-size: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-inverse-trio::before {
  content: '\e906';
}

.icon-inverse-four::before {
  content: '\e907';
}

.icon-inverse-double::before {
  content: '\e908';
}

.icon-inverse-stacked::before {
  content: '\e909';
}

.icon-stacked-layout::before {
  content: '\e900';
}

.icon-trio-layout::before {
  content: '\e901';
}

.icon-four-layout::before {
  content: '\e902';
}

.icon-double-layout::before {
  content: '\e903';
}

.icon-bike::before {
  content: '\e904';
}

.icon-letter::before {
  content: '\e905';
}

.icon-papers::before {
  content: '\1f54b';
}

div.radio {
  display: inline-block;
  width: 50px;
  height: 70px;
}

div.radio label {
  display: block;
  text-align: center;
  margin: 10px auto 0;
}

div.radio label img {
  height: 30px;
}

div.radio input {
  display: block;
  text-align: center;
  margin: 10px auto 0;
}

.layout {
  margin-bottom: 20px;
}

.edit-shortcode-form-fields.shortcode-ui-edit-itre_news {
  margin-bottom: 0;
  padding-bottom: 0;
}

.edit-shortcode-form-fields.shortcode-ui-edit-itre_news .shortcode-ui-field-radio {
  float: left;
  margin: 0 10px;
  text-align: center;
}

.edit-shortcode-form-fields.shortcode-ui-edit-itre_news .field-block.shortcode-ui-field-text {
  padding-bottom: 0;
}

.edit-shortcode-form-fields.shortcode-ui-edit-itre_news .description {
  font-style: normal;
  margin: 25px 0 0;
}

.edit-shortcode-form-fields.shortcode-ui-edit-itre_news .shortcode-ui-attribute-category {
  clear: both;
}
