@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?wt514q");
  src: url("fonts/icomoon.eot?wt514q#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?wt514q") format("truetype"), url("fonts/icomoon.woff?wt514q") format("woff"), url("fonts/icomoon.svg?wt514q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  color: #a6a6a6;
  font-family: 'icomoon';
  font-size: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-letter::before {
  content: '\e90c';
}

.icon-inverse-letter::before {
  content: '\e90e';
}

.icon-bike::before {
  content: '\e904';
}

.icon-papers::before {
  content: '\e905';
}

.icon-inverse-papers::before {
  content: '\e90d';
}

.icon-stacked-layout::before {
  content: '\e900';
}

.icon-trio-layout::before {
  content: '\e901';
}

.icon-four-layout::before {
  content: '\e902';
}

.icon-double-layout::before {
  content: '\e903';
}

.icon-inverse-trio::before {
  content: '\e906';
}

.icon-inverse-four::before {
  content: '\e907';
}

.icon-inverse-double::before {
  content: '\e90a';
}

.icon-inverse-stacked::before {
  content: '\e90b';
}

.icon-three-layout::before {
  content: '\e908';
}

.icon-inverse-three::before {
  content: '\e909';
}

form.search-form .divider {
  flex: 1;
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 1200px) {
  form.search-form .divider {
    flex: 100%;
    padding: 15px 0 0;
  }
}

@media (max-width: 768px) {
  form.search-form .divider {
    flex: 1;
    padding: 20px 0 0;
  }
}

form.search-form .dateSearch {
  flex: 2;
}

@media (max-width: 1200px) {
  form.search-form .dateSearch {
    flex: 100%;
  }
}

@media (max-width: 1200px) {
  form.search-form .dateSearch {
    flex: 2;
  }
}

form.search-form .dateSearch input {
  width: 100%;
}

form.search-form .dateSearch input::-webkit-inner-spin-button {
  display: none;
}

form.search-form .dateSearch input::-webkit-datetime-edit {
  padding-right: 0;
}

form.search-form .input-group {
  width: 100%;
}

form.search-form .input-group select.form-control {
  width: 100%;
  border: 0;
  outline: 1px solid #CCC;
  background-color: white;
}

form.search-form .input-group span.input-group-btn {
  width: 23%;
  border-radius: 0;
}

form.search-form .input-group.date-search {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

form.search-form .input-group.date-search input {
  padding: 0 0 0 10px;
}

form.search-form button {
  width: 100%;
}

.layout-a {
  flex: 1;
  padding: 0 20px 0 0;
}

.layout-a:first-of-type {
  flex: 100%;
}

.layout-b .news-image {
  height: auto;
  overflow: hidden;
  width: 95%;
}

.layout-c {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.layout-c .news-image {
  margin-right: 20px;
}

.layout-c .flex-text {
  flex: 2;
}

.layout-d {
  flex: 1 45%;
  padding: 0 20px 0 0;
}

.layout-e {
  flex: 1;
  padding: 0 20px 0 0;
}

.news-front {
  margin: 0;
}

.news-front h4 {
  font-size: 16px;
  margin: 0 0 10px;
}

.news-front p {
  font-size: 14px;
}

.news-front img {
  margin: 0;
  width: 100%;
}

.news-front .news-image {
  margin-bottom: 10px;
}

.itre-news {
  margin: 15px auto 0;
}

.itre-news h3 {
  width: 100%;
}

.itre-news .flex {
  display: flex;
}

.icon {
  background-color: #c00;
  border: #c00 5px solid;
  border-radius: 50px;
  display: flex;
  height: 90px;
  margin: auto;
  width: 90px;
}

.icon span {
  color: #fff;
  font-size: 50px;
  margin: auto;
}

a:hover .icon {
  background-color: transparent;
}

.itre-callout {
  padding: 20px 0;
  text-align: center;
}

.itre-callout h3 {
  margin: 18px auto 8px;
}

.itre-callout p {
  margin: 0;
}
