@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?wt514q");
  src: url("fonts/icomoon.eot?wt514q#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?wt514q") format("truetype"), url("fonts/icomoon.woff?wt514q") format("woff"), url("fonts/icomoon.svg?wt514q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-stacked-layout::before {
  content: '\e900';
}

.icon-trio-layout::before {
  content: '\e901';
}

.icon-four-layout::before {
  content: '\e902';
}

.icon-double-layout::before {
  content: '\e903';
}

.icon-bike::before {
  content: '\e904';
}

.icon-letter::before {
  content: '\e905';
}

.icon-papers::before {
  content: '\1f54b';
}

form.search-form .divider {
  padding-top: 32px;
  float: left;
  width: 10%;
  text-align: center;
}

@media (max-width: 992px) {
  form.search-form .divider {
    float: none;
    padding: 5px 0;
    margin-bottom: -22px;
    width: 100%;
  }
}

form.search-form .dateSearch {
  width: 45%;
  float: left;
}

@media (max-width: 992px) {
  form.search-form .dateSearch {
    width: 100%;
    float: none;
  }
}

form.search-form .dateSearch input {
  width: 100%;
}

form.search-form .dateSearch input::-webkit-inner-spin-button {
  display: none;
}

form.search-form .dateSearch input::-webkit-datetime-edit {
  padding-right: 0;
}

form.search-form .input-group {
  width: 100%;
}

form.search-form .input-group select.form-control {
  width: 100%;
  border: 0;
  outline: 1px solid #CCC;
  background-color: white;
}

form.search-form .input-group span.input-group-btn {
  width: 23%;
  border-radius: 0;
}

form.search-form button {
  width: 100%;
}

article.layoutA {
  float: left;
  width: 45%;
  margin: 0 2% 10px;
  overflow: hidden;
}

article.layoutA .newsImage {
  width: 230px;
  height: 170px;
  overflow: hidden;
}

article.layoutA:first-of-type {
  width: 95%;
  float: none;
}

article.layoutA:first-of-type .newsImage {
  height: auto;
  width: 100%;
}

article.layoutB .newsImage {
  width: 95%;
  height: auto;
  overflow: hidden;
}

article.layoutC {
  width: 100%;
}

article.layoutC .newsImage {
  float: left;
  margin-right: 20px;
}

article.layoutD {
  float: left;
  width: 45%;
  margin: 0 2%;
  overflow: hidden;
}

article.layoutD .newsImage {
  width: 230px;
  height: 170px;
  overflow: hidden;
}

article.layoutD .floatD {
  float: left;
}

article.newsFront h4 {
  margin: 0 0 10px;
  font-size: 16px;
}

article.newsFront p {
  font-size: 14px;
}

article.newsFront img {
  margin: 0;
}

article.newsFront .newsImage {
  margin-bottom: 10px;
}

.itre_news {
  margin: 15px auto 0;
}
